<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="A demo of a podcast web player" />

    <meta name="theme-color" content="#0a090e" />

    <title>
      <%= title %>
    </title>

    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css" />
  </head>

  <body>
    <div id="app"></div>
  </body>

  <script src="/js/bundle.js"></script>
</html>
