<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      testing
      <router-view></router-view>
    </div>
  </body>

  <script src="js/bundle.js"></script>
</html>
