/**
 *
 * Variables & Mixins
 *
 */

/*=============================================
=            Colors            =
=============================================*/
/*----------  base colors  ----------*/
$color-black: #000;
$color-white: #fff;
$color-grey-10: darken($color-white, 10%);
$color-grey-20: darken($color-white, 20%);
$color-grey-30: darken($color-white, 30%);
$color-grey-40: darken($color-white, 40%);
$color-grey-50: darken($color-white, 50%);
$color-grey-60: darken($color-white, 60%);
$color-grey-70: darken($color-white, 70%);
$color-grey-80: darken($color-white, 80%);
$color-grey-90: darken($color-white, 90%);
$color-blue: #0a67c2;
$color-red: #7b1427;
$color-green: #092b22;
/*----------  accent colors  ----------*/
$color-accent-1: #020305;
$color-accent-2: #23134a;
$color-accent-3: #07353d;

/*=====  End of Colors  ======*/

/*=============================================
=            Media Breakpoints, Grid & Spacing      =
=============================================*/
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

$grid-columns: 12;
$grid-padding: 15px;
$grid-max-width: 1600px;

@mixin initGrid($counter, $breakpoint) {
  .col-#{$breakpoint}-#{$counter} {
    width: ($counter / $grid-columns) * 100%;
    float: left;
  }
}
/*=====  End of Grid & Spacing   ======*/

/*=============================================
=            Typography            =
=============================================*/
$font-size-xs: 0.8rem;
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 3rem;

$font-serif: 'Work Sans', sans-serif;
$font-sans: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji';

$text_light: #fff;
$text_dark: #222;
/*=====  End of Typography  ======*/
