@import '~bulma/bulma.sass'; 
@import './base/_variables.scss';
@import './base/global.scss';


/*=============================================
=            Typography            =
=============================================*/
/*----------  fonts  ----------*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');
html,
body {
  font-family: $pod-fontfam-1;
}
body {
  font-size: 1rem; 
}
/*=====  End of Typography  ======*/

.p-container {
  margin: auto;
  max-width: 1800px;
  padding-left: 15px; 
  padding-right: 15px; 
}
.p-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body {
  background: linear-gradient(to right, #0a090e, #140d28);
  color: #fff;
}
