@import './_variables.scss';

/*=============================================
=            Global             =
=============================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $color-accent-1;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
.b_main {
  min-height: 100vh;
}

/*----------  scrollbars  ----------*/
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darken($color-accent-3, 50%);
  outline: 1px solid darken($color-accent-3, 80%);
  border-radius: 30px;
}

/*----------  /end scrollbars  ----------*/

/*=====  End of Global   ======*/

/*=============================================
=            Vue specific            =
=============================================*/
*[v-cloak] {
  display: none !important;
}
/*=====  End of Vue specific  ======*/

/*=============================================
=            Typography            =
=============================================*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');
html,
body {
  font-family: $font-sans;
  color: $text-light;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.35rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
/*=====  End of Typography  ======*/

/*=============================================
=            Grid            =
=============================================*/
.b_container {
  width: 100%;
  max-width: $grid-max-width;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  margin-left: auto;
  margin-right: auto;
}
[class*='col-'] {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}
.b_row {
  min-height: 1px;
  margin-left: -#{$grid-padding};
  margin-right: -#{$grid-padding};
  overflow: hidden;
}
@media all and (min-width: 1px) {
  @for $i from 1 to $grid-columns {
    @include initGrid($i, 'xs');
  }
  @include initGrid($grid-columns, 'xs');
}
@media all and (min-width: $break-sm) {
  @for $i from 1 to $grid-columns {
    @include initGrid($i, 'sm');
  }
  @include initGrid($grid-columns, 'sm');
}
@media all and (min-width: $break-md) {
  @for $i from 1 to $grid-columns {
    @include initGrid($i, 'md');
  }
  @include initGrid($grid-columns, 'md');
}
@media all and (min-width: $break-lg) {
  @for $i from 1 to $grid-columns {
    @include initGrid($i, 'lg');
  }
  @include initGrid($grid-columns, 'lg');
}
@media all and (min-width: $break-xl) {
  @for $i from 1 to $grid-columns {
    @include initGrid($i, 'xl');
  }
  @include initGrid($grid-columns, 'xl');
}
/*=====  End of Grid  ======*/

/*=============================================
=            links            =
=============================================*/
a {
  color: inherit;
  cursor: pointer;
}
/*=====  End of links  ======*/

/*=============================================
=            buttons            =
=============================================*/
button {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  /* reset default */
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1.05em;
}

.b_btn {
  background: linear-gradient(to right, lighten($color-accent-2, 1%), $color-accent-2);
  padding: 8px 13px;
  color: $text-light;
  line-height: 1.05em;
  font-weight: bold;
  border: 1px solid $color-accent-3;

  &-secondary {
    background: $color-grey-80;
    color: $text-light;
  }
}
/*=====  End of buttons  ======*/

/*=============================================
=            buttons & links     =
=============================================*/
a,
button {
  color: inherit;
  cursor: pointer;
}
/*----------  buttons  ----------*/

/*=====  End of buttons & links  ======*/

/*=============================================
=            Forms            =
=============================================*/
input {
  border: none;
  outline: none;
}
/*----------  search  ----------*/
input[type='search'] {
  border-radius: 15px;
}
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
/*=====  End of Forms  ======*/

/*=============================================
=            helper classes            =
=============================================*/

/*----------  hide/show helpers  ----------*/
.b_hide-xs {
  @media all and (max-width: $break-sm - 1px) {
    display: none !important;
  }
}
.b_hide-sm {
  @media all and (min-width: $break-sm) and (max-width: $break-md - 1px) {
    display: none !important;
  }
}
.b_hide-md {
  @media all and (min-width: $break-md) and (max-width: $break-lg - 1px) {
    display: none !important;
  }
}
.b_hide-lg {
  @media all and (min-width: $break-lg) and (max-width: $break-xl - 1px) {
    display: none !important;
  }
}
/*----------  /end hide/show helpers  ----------*/

/* clearfix */
.b_clearfix::after {
  content: '';
  clear: both;
  display: table;
}
/* container */
.b_wrapper {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}
/* main body */
.b_main {
  min-height: 100vh;
}
/* screen reader only */
.b_sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* floats */
.b_float-right {
  float: right !important;
}
.b_float-left {
  float: left !important;
}
/* display */
.b_block {
  display: flex;
}
.b_inline-block {
  display: inline-block;
}
/* spacing */
.b_no-padding {
  padding: 0;
}
.b_no-margin {
  margin: 0;
}
/* text align */
.b_text-center {
  text-align: center;
}
.b_text-right {
  text-align: right;
}
.b_text-left {
  text-align: left;
}
/* box shadow */
.b_box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
/*=====  End of helper classes  ======*/
