/**
 *
 * Helper Classes
 *
 */
.pod-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* end helper classes */

html,
body {
  min-height: 100vh;
}

body {
}

*[v-cloak] {
  display: none !important;
}
