@import './_variables.scss';

/**
 *
 * Helpers:
 * 
 *
 */
.b_clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.b_sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.b_wrapper {
  width: 100%;
  max-width: 1600px;
}
.b_float-right {
  float: right !important;
}
.b_float-left {
  float: left !important;
}
.b_inline-block {
  display: inline-block;
}
.b_no-padding {
  padding: 0;
}
.b_no-margin {
  margin: 0;
}
.b_w100 {
  width: 100%;
}
.b_font-small {
  font-size: $font-size-sm;
}
.b_text-center {
  text-align: center;
}
.b_box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
