/**
 *
 * Typography
 *
 */
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

html,
body {
  font-family: $font-sans;
  color: $text-light;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.35rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
