@font-face {
  font-family: 'Inter Var';
  font-weight: 100 900;
  src: url('/assets/fonts/inter/variable/inter-var.ttf') format('truetype');
}

@layer utilities {
  body {
    @apply font-normal text-body font-body;
  }

  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
    @screen xl {
      font-size: 2.5rem;
    }
  }

  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
    @screen xl {
      font-size: 2rem;
    }
  }

  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
    @screen xl {
      font-size: 1.75rem;
    }
  }

  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
    @screen xl {
      font-size: 1.5rem;
    }
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1.1rem;
  }
}
